receivers:
  otlp:
    protocols:
      grpc:
        endpoint: 0.0.0.0:4317
      http:
        endpoint: 0.0.0.0:4318

processors:
  batch:
  # https://github.com/open-telemetry/opentelemetry-collector/tree/main/processor/batchprocessor
  resourcedetection:
    # Enriches telemetry data with resource information from the host
    # https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/main/processor/resourcedetectionprocessor
    detectors: ["env", "docker", "system"]
    override: false
  transform/drop_unneeded_resource_attributes:
    # https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/main/processor/transformprocessor
    error_mode: ignore
    trace_statements:
      - context: resource
        statements:
          - delete_key(attributes, "k8s.pod.start_time")
          - delete_key(attributes, "os.description")
          - delete_key(attributes, "os.type")
          - delete_key(attributes, "process.command_args")
          - delete_key(attributes, "process.executable.path")
          - delete_key(attributes, "process.pid")
          - delete_key(attributes, "process.runtime.description")
          - delete_key(attributes, "process.runtime.name")
          - delete_key(attributes, "process.runtime.version")
    metric_statements:
      - context: resource
        statements:
          - delete_key(attributes, "k8s.pod.start_time")
          - delete_key(attributes, "os.description")
          - delete_key(attributes, "os.type")
          - delete_key(attributes, "process.command_args")
          - delete_key(attributes, "process.executable.path")
          - delete_key(attributes, "process.pid")
          - delete_key(attributes, "process.runtime.description")
          - delete_key(attributes, "process.runtime.name")
          - delete_key(attributes, "process.runtime.version")
    log_statements:
      - context: resource
        statements:
          - delete_key(attributes, "k8s.pod.start_time")
          - delete_key(attributes, "os.description")
          - delete_key(attributes, "os.type")
          - delete_key(attributes, "process.command_args")
          - delete_key(attributes, "process.executable.path")
          - delete_key(attributes, "process.pid")
          - delete_key(attributes, "process.runtime.description")
          - delete_key(attributes, "process.runtime.name")
          - delete_key(attributes, "process.runtime.version")
  transform/generalize_span_name:
    error_mode: ignore
    trace_statements:
      - context: span
        statements:
          - replace_pattern(name, "\\?.*", "")
          - replace_match(name, "GET /post/*", "GET /post/{id}")
          - replace_match(name, "DELETE /post/*", "DELETE /post/{id}")
          - replace_match(name, "POST /post/*/report", "POST /post/{id}/report")
          - replace_match(name, "POST /post/*/liked", "POST /post/{id}/liked")
          - replace_match(name, "DELETE /post/*/liked", "DELETE /post/{id}/liked")
          - replace_match(name, "GET /post/*/comments", "GET /post/{id}/comments")
          - replace_match(name, "GET /user/*/posts", "GET /user/{id}/posts")
          - replace_match(name, "GET /user/*/followers", "GET /user/{id}/followers")
          - replace_match(name, "GET /user/*/following", "GET /user/{id}/following")
          - replace_pattern(name, "^GET /user/[^/]+$", "GET /user/{id}")
          - replace_match(name, "POST /post/*/vote/*", "POST /post/{post_id}/vote/{option_index}")
          - replace_match(name, "POST /follow/*", "POST /follow/{user_id}")
          - replace_match(name, "DELETE /follow/*", "DELETE /follow/{user_id}")
          - replace_match(name, "POST /notifications/*/markRead", "POST /notifications/{id}/markRead")
          - replace_match(name, "POST /post/*/comment", "POST /post/{post_id}/comment")
          - replace_match(name, "POST /post/*/comment/*/liked", "POST /post/{post_id}/comment/{comment_id}/liked")
          - replace_match(name, "DELETE /post/*/comment/*/liked", "DELETE /post/{post_id}/comment/{comment_id}/liked")
          - replace_match(name, "POST /user/*/block", "POST /user/{user_id}/block")
          - replace_match(name, "DELETE /user/*/block", "DELETE /user/{user_id}/block")
          - replace_match(name, "DELETE /comment/*", "DELETE /comment/{comment_id}")
          - replace_match(name, "GET /v2/user/*/posts", "GET /v2/user/{id}/posts")
  transform/add_resource_attributes_as_metric_attributes:
    # https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/main/processor/transformprocessor
    error_mode: ignore
    metric_statements:
      - context: datapoint
        statements:
          - set(attributes["deployment.environment"], resource.attributes["deployment.environment"])
          - set(attributes["service.version"], resource.attributes["service.version"])

exporters:
  otlphttp/grafana_cloud:
    # https://github.com/open-telemetry/opentelemetry-collector/tree/main/exporter/otlphttpexporter
    endpoint: "${env:GRAFANA_CLOUD_OTLP_ENDPOINT}"
    auth:
      authenticator: basicauth/grafana_cloud

extensions:
  basicauth/grafana_cloud:
    # https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/main/extension/basicauthextension
    client_auth:
      username: "${env:GRAFANA_CLOUD_INSTANCE_ID}"
      password: "${env:GRAFANA_CLOUD_API_KEY}"

connectors:
  grafanacloud:
    # https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/main/connector/grafanacloudconnector
    host_identifiers: ["host.name"]
  spanmetrics:
    histogram:
      disable: true
    dimensions:
      - name: http.method
      - name: http.status_code
      - name: http.route
    dimensions_cache_size: 1000
    aggregation_temporality: "AGGREGATION_TEMPORALITY_CUMULATIVE"
    metrics_flush_interval: 15s

service:
  extensions: [basicauth/grafana_cloud]
  pipelines:
    traces:
      receivers: [otlp]
      processors:
        [
          resourcedetection,
          transform/drop_unneeded_resource_attributes,
          transform/generalize_span_name,
          batch,
        ]
      exporters: [otlphttp/grafana_cloud, grafanacloud, spanmetrics]
    metrics:
      receivers: [otlp]
      processors:
        [
          resourcedetection,
          transform/drop_unneeded_resource_attributes,
          transform/add_resource_attributes_as_metric_attributes,
          batch,
        ]
      exporters: [otlphttp/grafana_cloud]
    metrics/grafanacloud:
      receivers: [grafanacloud]
      processors: [batch]
      exporters: [otlphttp/grafana_cloud]
    metrics/spanmetrics:
      receivers: [spanmetrics]
      processors:
        [transform/add_resource_attributes_as_metric_attributes, batch]
      exporters: [otlphttp/grafana_cloud]
    logs:
      receivers: [otlp]
      processors:
        [resourcedetection, transform/drop_unneeded_resource_attributes, batch]
      exporters: [otlphttp/grafana_cloud]
