<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_URL</key>
	<string>$(API_URL)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.splajompy.splajompy.com</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>splajompy</string>
			</array>
		</dict>
	</array>
	<key>UILaunchScreen</key>
	<dict/>
</dict>
</plist>
