---
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <div class="mx-auto my-8 max-w-5xl text-amber-50">
        <h1 class="mb-4 text-3xl font-bold">Privacy Policy</h1>

        <p class="mb-4">
            Splajompy respects your privacy. We do not share or sell any
            personal information. Your use of this site is secure, and stored
            login data is private and encrypted.
        </p>

        <p class="mb-4">
            Usage data (time of login, if the app has crashed, e.g.) is
            collected to monitor and improve the performance of the site.
        </p>

        <p>
            If you have any questions about our privacy policy, please email
            <a href="mailto:wesleynw@pm.me" class="underline">
                wesleynw [at] pm.me
            </a>.
        </p>
    </div>
</Layout>
