name: Swift Lint
permissions:
  contents: read

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
jobs:
  swift-format:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v6
      - name: Lint
        run: |
          xcrun swift-format lint . \
            --parallel \
            --recursive \
            --strict \
            --color-diagnostics
